spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    url: &connectionUrl jdbc:mysql://${DB_CONNECTION_IP:localhost}:${DB_CONNECTION_PORT:3306}/growlab-task?allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true&useSSL=false&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC&zeroDateTimeBehavior=convertToNull&useUnicode=true&characterEncoding=UTF-8
    username: root
    password: 1234
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml

jwt:
  token:
    validity: 60000000
    refresh: 1000000
    prefix: Bearer
  signing:
    key: eyJhbGciOiJIUzI1NiJ9ew0KICAic3ViIjogImZlcnJ1bSIsDQogICJuYW1lIjogImZlcnJ1bSIsDQogICJpYXQiOiBmZXJydW0NCn0UNftWoEkNOLwS98iV5S1FDe5BLO5WHA4PppsAnmk7WQ
  authorities:
    key: roles
  header:
    string: Authorization
server:
  port: 8081